<!--
  The Top Bar
-->

<div id="top-wrapper" class="d-flex justify-content-center">
  <div id="topbar" class="container pl-xl-4 pr-xl-4">
<center>
<div class="content" style="display: inline-block; text-align: center;">
<pre style="border: 0px">

<gy>░██████╗██╗░░░██╗░██████╗░░██╗██╗░░███╗░░██╗░░██╗░░██╗██╗</gy>
<gy>██╔════╝╚██╗░██╔╝██╔════╝░██╔╝██║░████║░░╚██╗██╔╝░██╔╝██║</gy>
.<y>_________________________ <gy> ╚█████╗░░╚████╔╝░╚█████╗░██╔╝░██║██╔██║░░░╚███╔╝░██╔╝░██║</gy>  _________________________</y>.
:<y>-------------------------<gy> ░╚═══██╗░░╚██╔╝░░░╚═══██╗███████║╚═╝██║░░░██╔██╗░███████║</gy> -------------------------</y>:
                    <gy> ██████╔╝░░░██║░░░██████╔╝╚════██║███████╗██╔╝╚██╗╚════██║</gy>                     
                    <gy> ╚═════╝░░░░╚═╝░░░╚═════╝░░░░░░╚═╝╚══════╝╚═╝░░╚═╝░░░░░╚═╝</gy>                     
:<y>_______________________________________________________________________________________________________________________________________</y>:
:<y>---------------------------------------------------------------------------------------------------------------------------------------</y>:

<center><div class="counter"><span id="time"></span></div> </center>
</pre>
</div>
</center>

</div>
</div>
