---
layout: page
# The Home page layout
---

{% include lang.html %}

<!-- <center>
<div class="content" style="display: inline-block;  text-align: left;"> -->
<pre>
	<table style="width: 0px;">
		<tr style="width: 0px;">
			<td style=' border-style: none;'>
 >> Website: <a href="https://sys41x4.github.io">sys41x4.github.io</a>
 >> Blogs: <a href="https://sys41x4.github.io/blogs">Personal Blogging</a> | <a href="https://medium.com/@sys41x4">Medium</a> 
 >> GitHub: <a href="https://github.com/Arijit-Bhowmick">Arijit-Bhowmick</a> | <a href="https://github.com/sys41x4">sys41x4</a> 
 >> Social Links: <a href="https://linkedin.com/in/sys41x4">LinkedIn</a> | <a href="https://twitter.com/sys41x4">Twitter</a> 
 

 >> Programming Skills: <gy>Python</gy> | <gy>C/C++</gy> | <gy>HTML/CSS</gy> | <gy>JS</gy> 
                        <gy>Bash</gy> | <gy>Ruby</gy> | <gy>Rust</gy> | <gy>SQL/NoSQL</gy>


			</td>
			<td style=' border-style: none;'>

			 <img id="profile-pic" src="https://avatars.githubusercontent.com/u/62654117?v=4">

			     Arijit Bhowmick |
				     <l id="infosec-usrname">sys41x4</l> |
			</td>
		</tr>
	</table>
 $ Hey, I'm <gy>Arijit Bhowmick</gy> aka <l>sys41x4</l>! I'm currently a student and having my
   <gy>B.Tech Cybersecurity and Digital Forensics</gy> in <l>SAGE University Indore, INDIA</l>.

 $ I do regularly been practicing <gr>Automation</gr> and <gr>Digital Forensics Skills (<r>Offensive</r> + <bb>Defensive</bb>)</gr>
   and also evolving my <gr>Reverse Engineering</gr>, <gr>Malware Analysis</gr> & <gr>Binary Exploitation</gr> Skills.
                        
 $ <gy>Blogging</gy> and <pnk>CTF</pnk>'s are good source of <l>Practicing Writing</l> & <l>Practical Skills</l>,
   and so do I engage with them frequently.
                                                                      
 $ <lg>My professional interests:</lg>                                                                    
   - Malware Analysis
   - Reverse Engineering
   - Digital Forensics Research
   - Open Source Intelligence
   - IoT and Chipset Firmware Development 
   - System Architecture Development
   - Threat Intelligence/Adversary Emulation 
   - Living off of the Land                                                                       

                        
<center> # <r>Happy Hacking!</r> </center>


 <y>----------------------------------------------- <w>Recent Engagements</w> -----------------------------------------------</y> 

 <gy>::</gy> <a href="https://github.com/Arijit-Bhowmick/My_Certifications/blob/main/Internship/UNICompiler/PythonEngineer_01.07.2022-15.08.2022/PythonEngineer_Internship_Completion_01.07.2022-15.08.2022.jpg?raw=true">Python Engineer Internship</a> <pnk>[UNIcompiler]</pnk>
   
 <gy>::</gy> <a href="https://github.com/Arijit-Bhowmick/My_Certifications/blob/main/Participation_Certs/H4CK4SHELL/H4CK4SHELL_SPEAKER_DEC_2021_ARIJIT-BHOWMICK.jpg?raw=true">IT Security Mentorship & 2021 Speaker</a> <pnk>[Hack4Shell Community]</pnk> 

 <gy>::</gy> <a href="https://www.credly.com/badges/d0177a1f-c077-440f-9a52-e78b5b3065c2">Penetration Testing Internship</a> <pnk>[Virtual Testing Foundation]</pnk> 
                           
 <gy>::</gy> <a href="https://medium.com/@sys41x4/ejpt-experience-sys41x4-739d48f541bf">My eJPT Experience \0/</a> <pnk>[Medium][eLearnSecurity]</pnk> 

 <gy>::</gy> <a href="https://www.credly.com/badges/1857a466-94b3-484f-bf63-e66762d116a0">Scrum Foundation Professional Certificate</a> <pnk>[CertiProf]</pnk>

     

 <y>------------------------------------- <w>sys41x4@zohomail.in</w> | <w>sys41x4@gmail.com</w> ------------------------------------</y> 
		</pre>

<!-- </div>
</center> -->
