---
layout: default
---

{% include lang.html %}

{% include assets-origin.html %}


<center>
  <div class="content" style="display: inline-block;  text-align: left;">
  {% capture _content %}
      {% if layout.refactor or page.layout == 'page' %}
        {% include refactor-content.html content=content %}
      {% else %}
        {{ content }}
      {% endif %}
    {% endcapture %}

    {% if page.layout == 'page' or page.collection == 'tabs'%}
      {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
      <h1 class="dynamic-title">
        {{ title }}
      </h1>
      <div class="post-content">
        {{ _content }}
      </div>
    {% else %}
      {{ _content }}
    {% endif %}
  </div>
</center>
<!-- #core-wrapper -->

